.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 1.25rem;
  }
}
